# Build output
**/bin/
**/obj/
publish/

# Visual Studio local state
.vs/
*.user
*.suo

# Bicep build output
infra/*.json

# Environment variables
.env*
!.env.example.ps1

# Node.js dependencies
node_modules/